streamlit==1.36.0
pandas==2.2.2
numpy==1.23.5  # Ensuring compatibility
tensorflow==2.13.1  # A slightly older but compatible version
joblib==1.4.2
gdown==5.2.0
scikit-learn==1.5.0
requests==2.31.0  # Compatible version

